<%= form_for(@party) do |f| %>
    <% if @party.errors.any? %>
        <div id="error_explanation">
          <h3><%= pluralize(@party.errors.count, "error") %> prohibited this user from being saved:</h3>
          <ul>
            <% @party.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group" id="new_party_form" style="margin-bottom: 3px">

      <p class="help-block">
        <%= "새로운 파티를 생성합니다." if @party.id.nil? %>
        <%= "파티를 수정합니다." if @party.id %>
      </p>

      <p>
        <%= f.label :name %>
        <%= f.text_field :name, placeholder: "파티명을 입력하세요.", value: @party.name, class: "form-control" %>
      </p>

      <p>
        <%= f.label :category %>
        <%= f.select :category, category_list, selected: 1, class: "form-control" if !@party.category %>
        <%= f.select :category, category_list, selected: @party.category, class: "form-control" if @party.category %>
      </p>

      <p>
        <%= f.label :user_limit %>
        <%= f.select :user_limit, [['2'], ['3'], ['4'], ['5'], ['6'], ['7'], ['8']], selected: 4, class: "form-control" if !@party.user_limit %>
        <%= f.select :user_limit, [['2'], ['3'], ['4'], ['5'], ['6'], ['7'], ['8']], selected: @party.user_limit, class: "form-control" if @party.user_limit %>
      </p>

      <p>
        <%= f.label :description %>
        <%= f.text_area :description, placeholder: "파티에 대한 설명을 작성하세요.", value: @party.description, rows: '4', class: "form-control", style: "resize:none;" %>
      </p>

      <%= f.text_field :location_latitude, style: "display:none;" %>
      <%= f.text_field :location_longitude, style: "display:none;" %>

      <p align="right" style="margin-bottom: 0;">
        <% if @party.id.nil? %>
            <%= f.submit "Submit", class: "btn btn-primary" %>
        <% else %>
            <%= f.submit "Update", class: "btn btn-primary", method: :update %>
        <% end %>
      </p>

    </div>

<% end %>