<form action="<%= search_parties_path %>" method="post">
  <div style="display: none;">
    <input name="utf8" type="hidden" value="✓">
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
  </div>
  <div>
    <p>
      <input name="keyword" type="text" class="form-control" placeholder="검색어를 입력하세요." style="display: flex">
    </p>
  </div>
  <div class="mybox">
    <h3>카테고리</h3>
    <hr>
    <p>

      <% i = 0 %>
      <% category_list.each do |category| %>
          <span style="width:24%; display: inline-block;"><input type="checkbox" name="category[<%= i %>]" <%= 'checked="checked"' if @categories[i] %> ><%= category %></span>
          <% i = i + 1 %>
      <% end %>
    </p>

  </div>
</form>