<div class="mybox">
  <style type="text/css">
      ul {
          margin-top: 20px;
          padding-left: 1em !important;
      }
  </style>
  <h3>
    <%= '파티 목록' if @keyword.nil? %>
    <%= '검색 결과' unless @keyword.nil? %>
  </h3>

  <% if @active_parties.length > 0 %>
      <% @active_parties.each do |party| %>
          <hr>
          <p>
            <!--<%= link_to party.name, party %>-->
            <!--<a href="#" onclick="setCenter(<%=party.location_latitude%>, <%=party.location_longitude%>); return false;"><%= party.name %></a>-->
            <a href="#" onclick="setFocus(<%= party.id %>); return false;"><%= party.name %></a>
            (<%= party.users.count %>/<%= party.user_limit %>)
            <span class="pull-right"><img src="https://secure.gravatar.com/avatar/<%= Digest::MD5::hexdigest(party.leader.email.downcase) %>?s=20&d=mm" style="margin-right:4px"><%=party.leader.name%></span>
          </p>

          <p>
            <%= party.description %>
            <span class="pull-right"><%= print_remaining_time(party.ended_at) %></span>
          </p>
      <% end %>
  <% else %>
      <hr>
      <p>
        <%= '개설된 파티가 없습니다.' if @keyword.nil? %>
        <%= '해당 조건으로 검색된 파티가 없습니다.' unless @keyword.nil? %>
      </p>
  <% end %>
</div>
