<style type="text/css">
    body {
        overflow: hidden;
    }
</style>

<script type="text/javascript">
    var parties = <%= raw @active_parties.to_json %>;
    var markers = new Object();

    //        var parties = [
    //            {"id": 16, "name": "a", "description": "dfads", "user_limit": 2, "location_longitude": null, "location_latitude": null, "recruiting": null, "created_at": "2014-05-29T10:17:12.000Z", "updated_at": "2014-05-29T10:17:12.000Z"},
    //            {"id": 18, "name": "dgdasg", "description": "dgasgd", "user_limit": 2, "location_longitude": null, "location_latitude": null, "recruiting": null, "created_at": "2014-05-29T10:52:19.000Z", "updated_at": "2014-05-29T10:52:19.000Z"},
    //            {"id": 19, "name": "이민준파티", "description": "fFSAD", "user_limit": 2, "location_longitude": null, "location_latitude": null, "recruiting": null, "created_at": "2014-05-29T10:52:55.000Z", "updated_at": "2014-05-29T10:52:55.000Z"},
    //            {"id": 20, "name": "g", "description": "hhh", "user_limit": 2, "location_longitude": 127.043, "location_latitude": 37.2792, "recruiting": null, "created_at": "2014-05-30T02:26:11.000Z", "updated_at": "2014-05-30T02:26:11.000Z"},
    //            {"id": 21, "name": "ggg", "description": "g", "user_limit": 2, "location_longitude": 127.035, "location_latitude": 37.2806, "recruiting": null, "created_at": "2014-05-30T02:28:06.000Z", "updated_at": "2014-05-30T02:28:06.000Z"},
    //            {"id": 22, "name": "sdbadadsb", "description": "afsafsa", "user_limit": 2, "location_longitude": 127.048, "location_latitude": 37.2943, "recruiting": null, "created_at": "2014-05-31T00:33:39.000Z", "updated_at": "2014-05-31T00:33:39.000Z"}
    //        ];

    function bringWindowToTop(id) {
        var marker = markers[id];
        marker.infowindow.setZIndex(zIndex++);
        var div = $("#party_" + id + "_content").trigger("create");
//        marker.infowindow.open(map, marker);
    }

    function togglePartyDescription(id) {

        var marker = markers[id];
        var div = $("#party_" + id + "_content");

        if (div.is(":visible")) {
            div.hide();
            marker.zIndex--;
            marker.infowindow.zIndex--;
            marker.infowindow.open(map, marker);
        } else {
            div.show();
            marker.setZIndex(zIndex++);
            marker.infowindow.setZIndex(zIndex++);
            marker.infowindow.open(map, marker);
        }
    }

    function collapseAllInfowindows() {
        for (var i in parties) {
            var party = parties[i];
            var marker = markers[party.id];
            marker.infowindow.close();
        }
    }

    function expandAllInfowindows() {
//        var beforeCenter = map.getCenter();
        for (var i in parties) {
            var party = parties[i];
            var marker = markers[party.id];
            if(map.getBounds().contains(marker.getPosition())) {
                marker.infowindow.open(map, marker);
//                map.panTo(beforeCenter);
            }
        }
    }

    var zIndex = 1;
    function setFocus(id) {
        var marker = markers[id];
        if(marker) {
            if (marker.infowindow) {
                marker.infowindow.open(map, marker);
                var div = $("#party_" + id + "_content");

                if (div) {
                    div.show();
                    marker.setZIndex(zIndex);
                    marker.infowindow.setZIndex(zIndex);
//                    marker.infowindow.open(map, marker);
                    map.panTo(marker.getPosition());
                    zIndex++;
                }
            }
        }
    }

    var beforeZoom = 14;
    var beforeCenter;
    function initialize() {

        var mapCenter = new google.maps.LatLng(parseFloat(37.28374147476122), parseFloat(127.04418));

        drawMap(mapCenter, function () {

            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    mapCenter = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
                    map.setCenter(mapCenter);
                }, function () {
                    handleNoGeolocation(true);
                });
            } else {
                handleNoGeolocation(false);
            }

            for (var i in parties) {

                var party = parties[i];
                var remaining = (new Date(party.ended_at) - new Date()) / 60 / 1000;
                var remain_string = "";
                if (remaining > 60) remain_string = (remaining / 60 - 0.5).toFixed(0) + '시간';
                if (remaining % 60 > 0) remain_string = remain_string + ' ' + (remaining % 60 - 0.5).toFixed(0) + '분';

                var position = new google.maps.LatLng(parseFloat(party.location_latitude), parseFloat(party.location_longitude));
                var title = '<div class="partytitle" onclick="togglePartyDescription(' + party.id + ')">' + party.name + ' <span class="pull-right"><small>(' + Object.keys(party.participants).length + '/' + party.user_limit + ')</small></span></div>';
                var content = '<div id="party_' + party.id + '_content" style="display:none;" onclick="bringWindowToTop(' + party.id + ')">'
                        + '<p>' + '<img src="https://secure.gravatar.com/avatar/' + party.leader.hash + '?s=28&d=mm" style="margin-right:10px">'
                        + '<strong>' + party.leader.name + '</strong><span class="pull-right">see more</span></p>'
                        + '<p>' + party.description + '<span class="pull-right">' + remain_string + '</span></p>'
                        + '<div style="display:block; height: 32px">';

                if (party.participants[<%= current_user.id %>] != null) {
                    content += '<span style="display:inline-block; position:absolute; bottom:6px; color:darkgray"><a href="parties/' + party.id + '">들어가기</a></span>';
                } else {

                    if (Object.keys(party.participants).length < party.user_limit) {
                        content += '<a href="parties/' + party.id + '/join#" role="button" class="btn btn-success" style="margin-right:10px">가입</a>';
                    } else {
                        content += '<span style="display:inline-block; position:absolute; bottom:6px; color:darkgray">허용인원을 초과하였습니다.</span>';
                    }
                }

                content += '<button type="button" class="btn btn-default pull-right" onclick="togglePartyDescription(' + party.id + ')">닫기</button>'
                        + '</div>'
                        + '</div>';

                markers[party.id] = createMarker(position, title, content, true, false, true, 'http://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=' + party.id + '|FF0000|000000', false);
            }


            google.maps.event.addListener(map, 'zoom_changed', function () {
                var zoomLevel = map.getZoom();
                if (beforeZoom > zoomLevel && zoomLevel <= 14) collapseAllInfowindows();
                else if (beforeZoom < zoomLevel && zoomLevel > 14) expandAllInfowindows();
                beforeZoom = zoomLevel;
            });

        });
    }
</script>

<!--google map api-->
<%= render 'mapjs' %>

<div class="container-fluid" style="height: 100vh; ">
  <div class="row">
    <div class="col-md-3" style="margin-top:20px;">
      <!--검색 폼-->
      <%= render 'party_searching_block' %>
      <!--검색 폼 끝-->

      <!--파티 목록-->
      <%= render 'party_listing_block' %>
      <!--파티 목록 끝-->
    </div>

    <div class="col-md-9" style="padding:0px;">
      <!--google map canvas-->
      <div id="map-canvas" style="height: 100vh"></div>
    </div>
  </div>
</div>

<% provide(:title, 'Listing parties') %>
<div class="container">
  <h1>Listing parties</h1>

  <table class="table">
    <thead>
    <tr>
      <th>id</th>
      <th>Name</th>
      <th>Description</th>
      <th>Location</th>
      <th>User limit</th>
      <th>users</th>
      <th>recruiting?</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @parties.each do |party| %>
        <tr>
          <td><%= party.id %></td>
          <td><%= party.name %></td>
          <td><%= party.description %></td>
          <td><%= party.location_latitude %>
            <br><%= party.location_longitude %></td>
          <td><%= party.user_limit %></td>
          <td>
            <% party.participate_ins.each do |participate| %>
                <% user = User.find_by(id: participate.user_id) %>
                <p>
                  <%= user.name if !user.nil? %>
                  <%= '탈퇴한 회원' if user.nil? %>
                  <%= '(방장)' if participate.leader %>
                </p>
            <% end %>
          </td>
          <td><%= party.recruiting %></td>

          <td><%= link_to 'Show', party %></td>
          <td><%= link_to 'Join', join_party_path(party) %></td>
          <td><%= link_to 'Edit', edit_party_path(party) %></td>
          <td><%= link_to 'Destroy', party, method: :delete, data: {confirm: 'Are you sure?'} %></td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Party', new_party_path %>
</div>