<div class="thumbnail">
  <h3>
    <a href="<%= user_path(current_user) %>">
      <%= gravatar_for current_user, style:"margin: 0 10px 10px 10px !important;" %>
    </a>
    <%= current_user.name %>
  </h3>
  <p><%= current_user.updated_at.strftime("Last login: %F ") %><br>
  <%= pluralize(current_user.microposts.count, "micropost") %></p>
  <p>
    <%= link_to "view my profile", current_user %>
  </p>
</div>
