<div class="mybox">
  <div style="height: 80px">
    <h3>
      <%= gravatar_for current_user, style: "margin: 0 16px 10px 0 !important;" %>
      <p><%= current_user.name %></p>
    </h3>
    <p style="margin-top:34px">
      <%= link_to "view my profile", current_user %>
      <%# style: "width:50%" class: "btn btn-default"%>
    </p>
  </div>
  <br>
  <style type="text/css">
      dt {
          width: 100px !important;
          float: left;
      }
      dd {
          margin-left: 100px !important;
          padding-top: 1px;
      }
  </style>
  <dl>
    <dt>파티 수</dt>
    <dd><%= pluralize(current_user.parties.count, "party") %></dd>

    <dt>게시글 수</dt>
    <dd><%= pluralize(current_user.microposts.count, "post") %></dd>

    <dt>최종 접속일</dt>
    <dd><%= current_user.updated_at %></dd>

  </dl>
</div>
